@model List<Peliculas.DTOs.PeliculaDto>
@using Microsoft.AspNetCore;
@using Peliculas.Extensiones;
 
@{
    ViewData["Title"] = "Cartelera ";
}


<h1 class="border-bottom">Películas en cartelera</h1>

<div class="container">
    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Estrenos</h2>

        <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
        @foreach(var m in Model)
        {
            <div class="col-3">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
                    <div class="d-flex flex-column h-100 p-3 text-shadow-1">
                            <div style="" class="d-flex flex-column">
                                <img src="~/img/@m.PosterLink" asp-append-version class="img-portada-index img-fluid" />
                        </div>
                        <ul class="list-unstyled mt-2">
                            <li class="d-flex align-items-center me-3 pb-2">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>
                                <small>Nombre: <strong>@m.Nombre</strong></small>
                            </li>
                            <li class="d-flex align-items-center me-3 pb-2">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>
                                <small>Director: <strong>@m.Director</strong></small>
                            </li>
                            <li class="d-flex align-items-center me-3 pb-2">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>
                                    <small>Actores: <strong>@m.Actores.JoinString(x => x.Nombre)</strong></small>
                            </li>
                            <li class="d-flex align-items-center me-3 pb-2">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>
                                <small>Genero: <strong>@m.Genero.Nombre</strong></small>
                            </li>
                            <li class="d-flex align-items-center me-3 pb-2">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>
                                <small>Pais origen: <strong>@m.PaisOrigen</strong></small>
                            </li>
                            <li class="d-flex align-items-center me-3 pb-2">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>
                                <small>Fecha de estreno: <strong>@m.FechaEstreno.ToShortDateString()</strong></small>
                            </li>
                        </ul>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <a href="~/resumen/@m.Id" class="btn btn-primary justify-content-center">Ver Resumen</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
</div>



